@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sparrendal 454<br />
    Maassluis, 3142LP<br />
    <abbr title="Phone">tel:</abbr>
    06-53380120
</address>

<address>
    <strong>Mail:</strong>   <a href="mailto:geddyschellevis@gmail.com">geddyschellevis@gmail.com</a><br />
</address>